<head>
	<meta charset="ISO-8859-1">
</head>


<div class="panel panel-primary">
	<div class="panel-heading">Gráficos</div>
	<div class="panel-body">
		<div class="row">
		
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Doughnut</div>
						<div class="panel-body">
							<canvas id="radar" class="chart chart-doughnut"
						  		chart-data="data1" chart-options="options" chart-labels="labels">
							</canvas> 
						</div>
					</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Polar Area</div>
						<div class="panel-body">
							<canvas id="radar" class="chart chart-polar-area"
						  		chart-data="data2" chart-options="options" chart-labels="labels">
							</canvas> 
						</div>
					</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Pie</div>
						<div class="panel-body">
							<canvas id="radar" class="chart chart-pie"
						  		chart-data="data3" chart-options="options" chart-labels="labels">
							</canvas> 
						</div>
					</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Horizontal Bar</div>
						<div class="panel-body">
							<canvas id="radar" class="chart chart-horizontal-bar"
						  		chart-data="data2" chart-options="options" chart-labels="labels">
							</canvas> 
						</div>
					</div>
			</div>
			
		</div>
	</div>
</div>


